<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/base.css') }}">
    <link rel="stylesheet" media="(max-width: 480px)" href="{{ url_for('static', filename='style/base_mobile.css') }}">
    <title>
        {% block title %}
            {% if title %}
                {{ title }}
            {% else %}
                타이틀을 입력하세요
            {% endif %}
        {% endblock %}
    </title>
    {% endblock %}
</head>
<body>
    <!-- header 영역 -->
    <div class="header">{% block header %}{% endblock %}</div>

    <!-- navigator 영역 -->
    <div class="nav">
        <a href="#">Home</a>
    </div>

    <!-- main content 영역 -->
    <div class="content">{% block content %}{% endblock %}</div>

    <!-- footer 영역 -->
    <div class="footer">
        <p class="cp-text">
            © Copyright 2019 phdpark. All rights reserved.
        </p>
    </div>
</body>
</html>
